:root {
    --text: #f2f1e6;
    --cyan: #15dbee;
    --c0: gold;
    --c0-a: rgba(255, 215, 0, 0.25);
    --c0-i: #257ae4;
    --c1: #1e1e1c;
    --c1-i: #fffffd;
    --c2: #1d1d1b;
    --c3: #2c2c2a;
    --c4: #312d18;
    --c5: #040404;
    --yellow: #f0d200; /* Used in selection state */
}
