@keyframes crt-flicker {
    0% {
        opacity: 0.27;
    }

    5% {
        opacity: 0.35;
    }

    10% {
        opacity: 0.24;
    }

    15% {
        opacity: 0.3;
    }

    20% {
        opacity: 0.28;
    }

    25% {
        opacity: 0.38;
    }

    30% {
        opacity: 0.21;
    }

    35% {
        opacity: 0.32;
    }

    40% {
        opacity: 0.25;
    }

    45% {
        opacity: 0.36;
    }

    50% {
        opacity: 0.23;
    }

    55% {
        opacity: 0.31;
    }

    60% {
        opacity: 0.29;
    }

    65% {
        opacity: 0.34;
    }

    70% {
        opacity: 0.22;
    }

    75% {
        opacity: 0.37;
    }

    80% {
        opacity: 0.26;
    }

    85% {
        opacity: 0.33;
    }

    90% {
        opacity: 0.28;
    }

    95% {
        opacity: 0.39;
    }

    100% {
        opacity: 0.27;
    }
}
